<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PlaceReview">
	<!-- 게시글 클릭 시 모든 후기 나오게 하기 -->
	<select id="selectAll" parameterType="string" resultType="placeReviewDTO">
		select place_review_number, place_review_contents, place_review_rating, place_review_dateTime, user_number, user_name, place_review_helful
		from tbl_place_review
		where place_id = #{placeId}
	</select>
	
	<select id="selectFile" parameterType="_int" resultType="string">
		select review_file_system_name from tbl_review_file where place_review_number = #{placeReviewNumber}
	</select>

	<insert id="insertContent" parameterType = "placeReviewVO">
        insert into tbl_place_review
        (place_review_contents, place_review_rating, user_number, place_id)
        values(#{placeReviewContents}, #{placeReviewRating}, #{userNumber},#{placeId})
    </insert>
    
   <update id="updateHelpfulNumberUp" parameterType = "placeReviewVO">  <!-- 도움이 돼요 개수 증가-->
        update tbl_place_review
        set place_review_helful =place_review_helful+1
        where place_review_number = #{placeReviewNumber}
   </update>
   
    <update id="updateHelpfulNumberDown" parameterType = "placeReviewVO">  <!-- 도움이 돼요 개수 감소-->
        update tbl_place_review
        set place_review_helful =place_review_helful-1
        where place_review_number = #{placeReviewNumber}
   </update>
    
   <select id="selectCurrentSequence" resultType="_int">
      select place_review_number from tbl_place_review order by place_review_number desc limit 0,1
   </select>
   
   <!-- 리뷰 삭제하기 -->
	<select id="delete" parameterType ="_int">
		delete from tbl_place_review where place_review_number=#{placeReviewNumber}
	</select>
	
	<!-- 리뷰 수정하기 -->
	<update id="update" parameterType="placeReviewVO">
		update tbl_place_review
		set place_review_contents=#{placeReviewContents}
		where place_review_number = #{placeReviewNumber}
	</update>
		
	<!-- 페이징처리 -->
	<select id="pagingCount" parameterType="string" resultType="_int">
		select count(place_review_number) from tbl_place_review
		where place_id=#{placeId}
	</select>
	
	<select id="filterSelect" parameterType="criteria" resultType="placeReviewDTO">
      select r.place_review_number, place_review_helful, place_review_contents, place_review_rating, place_review_dateTime, user_number, user_name
           <if test="star == 'none'.toString() and photo == 'none' and order == 'n'.toString()">
            from tbl_place_review as r
            order by place_review_dateTime desc
           </if>
           <if test="star == 'none'.toString() and photo == 'none' and order == 'b'.toString()">
            from tbl_place_review as r
            order by place_review_dateTime desc
           </if>
           <if test = "star != 'none'.toString() and photo != 'none'.toString() and order == 'b'.toString()">
            from tbl_place_review r, tbl_review_file f
            where r.place_review_number = f.place_review_number 
            <where>
                and place_review_rating = #{star} and place_id = #{placeId}
            </where>
            <trim prefix="ORDER BY">
               <if test="order == 'b'.toString()">place_review_helful desc</if>
               <if test="order == 'n'.toString()">place_review_datetime desc</if>
            </trim>
           </if>
         <if test="photo != 'none'.toString()">
            from tbl_place_review r , tbl_review_file f
            <where>
               r.place_review_number = f.place_review_number and place_id = #{placeId}
            </where>
               <if test="order == 'b'.toString()">order by place_review_helful desc</if>
               <if test="order == 'n'.toString()">order by place_review_datetime desc</if>
         </if>
         <if test="star != 'none'.toString()">
            from tbl_place_review r
            <where>
               place_review_rating = #{star} and place_id = #{placeId}
               <if test="order == 'n'.toString()">order by place_review_datetime desc</if>
               <if test="order == 'b'.toString()">order by place_review_helful desc</if>
            </where>
         </if>
   </select>
	
</mapper>
	