<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PlaceReview">
	<!-- 게시글 클릭 시 모든 후기 나오게 하기 -->
	<select id="selectAll" parameterType="string" resultType="placeReviewDTO">
		select place_review_number, place_review_contents, place_review_rating, place_review_dateTime, user_number, user_name
		from tbl_place_review
		where place_id = #{placeId}
	</select>
	
	<select id="selectFile" parameterType="_int" resultType="string">
		select review_file_system_name from tbl_review_file where place_review_number = #{placeReviewNumber}
	</select>

	<insert id="insertContent" parameterType = "placeReviewVO">
		insert into tbl_place_review
		(place_review_contents, place_review_rating, user_number, place_id, place_review_helful)
		values(#{placeReviewContents}, #{placeReviewRating}, #{userNumber},#{placeId}, #{placeReviewHelful})
    
    </insert>
    
    <select id="selectCurrentSequence" resultType="_int">
      select place_review_number from tbl_place_review order by place_review_number desc limit 0,1
   </select>

</mapper>
	