<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="User">

<!-- 아이디 중복 체크 -->
	<select id="checkId" parameterType="string" resultType="_int">
		select count(user_id) from tbl_user where user_id = #{userId}
	</select>
	
	<!-- 가입 -->
	<insert id="join" parameterType="userVO">
		insert into tbl_user
		(user_id, user_password, user_name, user_login_method) 
		values(#{userId}, #{userPassword}, #{userName}, #{userLoginMethod})
	</insert>
	
	<!-- 로그인 -->
	<select id="login" parameterType="userVO" resultType="_int">
		select user_number
		from tbl_user
		where user_id=#{userId} and user_password=#{userPassword}
	</select>
	
	<!-- 비밀번호 변경 -->
	<update id="update" parameterType="userVO">
		update tbl_user
		set user_password=#{userPassword}
		WHERE user_id=#{userId};
	</update>
	
	<!-- 내 게시글 목록  -->
	<select id="selectMyPost" parameterType="map" resultType="postVO">
		select post_number, post_content, post_datetime, post_like_number, user_number
		from tbl_post
		where user_number = #{userNumber}
		order by post_number desc limit #{startRow}, #{rowCount}
	</select>
	
	<!--내 게시글 수 -->
	<select id="countMyPost" parameterType="_int" resultType="_int">
		select count(post_number)
		from tbl_post
		where user_number = #{userNumber}
	</select>
	
		<!-- 내 댓글 목록 -->
	<select id="selectMyComment" parameterType="map" resultType="commentsVO">
		select comments_number, comments_datetime, comments_content, user_number, post_number
		from tbl_comments
		where user_number = #{userNumber}
		order by comments_number desc limit #{startRow}, #{rowCount}
	</select>
	
	<!-- 내 댓글 수 -->
	<select id="countMyComment" parameterType="_int" resultType="_int">
		select count(comments_number)
		from tbl_comments
		where user_number = #{userNumber}
	</select>
	
	<!-- 내 리뷰 목록 -->
	<select id="selectMyReview" resultType="placeReviewDTO">
 		select p.place_review_number, place_review_contents, place_review_rating, place_review_datetime, 
		p.user_number, place_id, place_review_helful, review_file_number, review_file_system_name,
		review_file_origin_name, reivew_file_path, f.favorite_place_name 
		from tbl_place_review p, tbl_review_file r, tbl_favorite_place f
		where p.place_review_number  = r.place_review_number and p.user_number = #{userNumber} and f.favorite_place_place_id  = p.place_id 
		order by p.place_review_number desc limit #{startRow}, #{rowCount} 
	</select>
	
	<!-- 내 리뷰 수 -->
	<select id="countMyReview" parameterType="_int" resultType="_int">
		select count(place_review_number)
		from tbl_place_review
		where user_number = #{userNumber}
	</select>
	
	<!-- 내 장소 목록 -->
	<select id="selectMyPlace" parameterType="map" resultType="favoritePlaceVO">
		select favorite_place_place_id, favorite_place_adr_address, favorite_place_business_status, favorite_place_geometry, favorite_place_name, favorite_place_photos, favorite_place_opening_hours, user_number
		from tbl_favorite_place
		where user_number = #{userNumber}
		order by favorite_place_place_id desc limit #{startRow}, #{rowCount}
	</select>
	
	<!-- 내 장소 수 -->
	<select id="countMyPlace" parameterType="_int" resultType="_int">
		select count(favorite_place_place_id)
		from tbl_favorite_place
		where user_number = #{userNumber}
	</select>
	
</mapper>